amqp==5.3.1
asgiref==3.11.0
billiard==4.2.4
celery==5.6.2
celery-types==0.24.0
certifi==2026.1.4
charset-normalizer==3.4.4
click==8.3.1
click-didyoumean==0.3.1
click-plugins==1.1.1.2
click-repl==0.3.0
Django==4.2.27
django-cleanup==9.0.0
django-cors-headers==4.9.0
django-extensions==4.1
django-filter==24.3
django-fsm==3.0.1
django-js-asset==3.1.2
django-model-utils==5.0.0
django-mptt==0.18.0
django-notifications-hq==1.8.3
django-stubs==5.2.8
django-stubs-ext==5.2.8
djangorestframework==3.16.1
djangorestframework-stubs==3.16.6
djangorestframework_simplejwt==5.5.1
dnspython==2.8.0
et_xmlfile==2.0.0
eventlet==0.40.4
fuzzywuzzy==0.18.0
greenlet==3.3.0
idna==3.11
jsonfield==3.2.0
kombu==5.6.2
Levenshtein==0.27.3
mysqlclient==2.2.7
numpy==2.3.5
openpyxl==3.1.5
packaging==25.0
pandas==2.3.3
pandas-stubs==2.3.3.251219
pillow==12.1.0
prompt_toolkit==3.0.52
PyJWT==2.10.1
python-dateutil==2.9.0.post0
python-Levenshtein==0.27.3
pytz==2025.2
RapidFuzz==3.14.3
redis==7.1.0
requests==2.32.5
rest-framework-simplejwt==0.0.2
six==1.17.0
sqlparse==0.5.5
swapper==1.4.0
thefuzz==0.22.1
types-pytz==2025.2.0.20251108
types-PyYAML==6.0.12.20250915
types-requests==2.32.4.20250913
typing_extensions==4.15.0
tzdata==2025.3
tzlocal==5.3.1
urllib3==2.6.2
vine==5.1.0
wcwidth==0.2.14
xlrd==2.0.2

openai
python-dotenv
langchain-openai
langchain
langchain-core